# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# 虚拟环境
.env
.venv
venv/
ENV/
.conda/

# PyInstaller
build/
dist/

# IDE
.idea/
.vscode/
*.swp
*.swo
.DS_Store

# 临时文件
*.tmp
*.bak
*.log
temp/
tmp/ 